.clients {
  position: relative;
  left: 200px;
  width: calc(100vw - 220px);

  .wrapper {
    padding: 20px;

    .header {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;

      .title {
        color: gray;
        font-size: 24px;
      }
      .headerButton {
        display: flex;
        gap: 20px;
      }
    }

    .productCell {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    .actionCell {
      .editIcon {
        color: green;
        cursor: pointer;
        margin-right: 10px;
      }
      .deleteIcon {
        color: red;
        cursor: pointer;
      }
    }
  }
}
